<html>
<head>
    {% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  


</head>
<body>

    <div id='tag'> status: {{ status }} </div>
    <button type="button" class="btn btn-success" id='btn_on'>ON</button> <button type="button" class="btn btn-danger" id='btn_off'>OFF</button>
    
    

    <script type="text/javascript" src="{% static 'js/try.js' %}"></script>
    	
    	<!--var button_on = document.getElementById('btn_on');-->
    	<!--var text_field = document.getElementById('tag');-->
    	<!---->
    	<!--button_on.addEventListener("click", function(){-->
    		<!--var ourRequest = new XMLHttpRequest();-->
			<!--ourRequest.open('GET','/process');-->
			<!--ourRequest.onload = function() {-->
				<!--var data = JSON.parse(ourRequest.responseText);-->
				<!--console.log(ourRequest.responseText);-->
				<!--render(data.signal);-->
		<!--};-->
		<!--ourRequest.send();-->


    	<!--});-->

    	<!--var button_off = document.getElementById('btn_off');    	-->
    	<!---->
    	<!--button_off.addEventListener("click", function(){-->
    		<!--var ourRequest = new XMLHttpRequest();-->
			<!--ourRequest.open('GET','/process2');-->
			<!--ourRequest.onload = function() {				-->
				<!--var data = JSON.parse(ourRequest.responseText);-->
				<!--console.log(ourRequest.responseText);-->
				<!--render(data.signal);-->
		<!--};-->
		<!--ourRequest.send();-->
    	<!--});-->

    	<!--function render(data){-->
    		<!--text_field.innerHTML = 'status: ' + data;-->

    	<!--};-->
        <!---->
		

</body>

</html>
